absl-py==1.4.0
aiohttp==3.9.2
aiosignal==1.3.1
ansi2html==1.8.0
anyio==3.0.1
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==20.1.0
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==3.3.0
cachetools==4.2.2
certifi==2020.12.5
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
click==8.1.3
comm==0.1.3
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
dash==2.10.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.1
entrypoints==0.3
executing==1.2.0
filelock==3.0.12
flake8==3.9.2
Flask==2.2.5
flatbuffers==23.3.3
fonttools==4.39.3
frozendict==2.3.7
frozenlist==1.4.1
gast==0.4.0
google-api-core==1.26.3
google-api-python-client==2.3.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.53.0
googlefinance==0.7
grpcio==1.54.0
h5py==3.8.0
html5lib==1.1
httplib2==0.19.1
idna==2.10
int-date==0.1.8
ipykernel==6.22.0
ipython==8.13.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
itsdangerous==2.1.2
jax==0.4.8
jedi==0.18.2
Jinja2==3.0.0
json5==0.9.5
jsonlines==4.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-server==1.7.0
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.2
jupyterlab-widgets==3.0.7
keras==2.12.0
kiwisolver==1.4.4
libclang==16.0.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.6.1
mistune==0.8.4
ml-dtypes==0.1.0
mplfinance==0.12.9b7
multidict==6.0.4
multitasking==0.0.9
Naked==0.1.32
nbclassic==0.2.8
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy==1.23.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
pandas==2.0.1
pandas-datareader==0.9.0
pandocfilters==1.4.3
parso==0.8.3
pathspec @ file:///private/tmp/python-pathspec-20231212-5149-sdd2ey/pathspec-0.12.1
pbr==5.6.0
peewee==3.17.0
pexpect==4.8.0
pickleshare==0.7.5
pika==1.3.2
Pillow==9.5.0
platformdirs==3.5.0
plotly==5.14.1
prometheus-client==0.10.1
prompt-toolkit==3.0.38
protobuf==4.22.4
psutil==5.9.5
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.19.0
pydash==7.0.7
pyflakes==2.3.1
Pygments==2.15.1
pyheif==0.7.1
pyotp==2.9.0
pyparsing==2.4.7
pypng==0.20220715.0
pyrsistent==0.17.3
python-dateutil==2.8.2
pytz==2023.3
PyYAML @ file:///private/tmp/pyyaml-20231019-6134-1qsnlp0/PyYAML-6.0.1
pyzmq==25.0.2
qrcode==7.4.2
qtconsole==5.4.2
QtPy==2.3.1
requests==2.31.0
requests-oauthlib==1.3.0
retrying==1.3.4
rsa==4.7.2
scipy==1.10.1
sec-api==1.0.17
Send2Trash==1.5.0
shellescape==3.8.1
six==1.16.0
sklearn==0.0.post4
sniffio==1.2.0
soupsieve==2.4.1
stack-data==0.6.2
stevedore==3.3.0
stockstats==0.3.2
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado==0.10.0
testpath==0.5.0
toml==0.10.2
tornado==6.3.1
traitlets==5.9.0
typing_extensions==4.5.0
tzdata==2023.3
uritemplate==3.0.1
urllib3==1.26.4
virtualenv==20.4.6
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.0.0
Werkzeug==2.2.3
widgetsnbextension==4.0.7
wrapt==1.14.1
yarl==1.9.4
yfinance==0.2.36
